{
   "extends": ["@nyxb"],
   "rules": {
      "vars-on-top": 0,
      "no-var": 0,
      "block-scoped-var": 0,
      "unicorn/error-message": 0,
      "no-mixed-operators": 0,
      "array-callback-return": 0
   }
}
